/* Reset & base */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #333;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "Hiragino Sans", "Helvetica Neue",
    -apple-system, "Lucida Grande", "メイリオ", Meiryo, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Visual section */
.top-main-attention__box ul {
  display: flex;
  flex-wrap: wrap;
  margin: -12px 0 0 -15px;
}
